# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
/tmp
/out-tsc
**/build

# dependencies
/node_modules
**/node_modules

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
stats.html

# e2e
/e2e/*.js
/e2e/*.map
/test-results/
/playwright-report/
/playwright/.cache/

# System Files
.DS_Store
Thumbs.db

**/.env**
*.tgz
*.orig

storybook-static
deploy/caddy/site
deploy/caddy/caddy_data
deploy/caddy/caddy_config

todo.md
