version: '3'
services:
  ballerine-case-managment:
    image: ghcr.io/ballerine-io/backoffice:latest
    platform: linux/amd64
    ports:
      - 5137:80
    depends_on:
      - ballerine-workflow-service
    restart: on-failure
  ballerine-kyb-app:
    image: ghcr.io/ballerine-io/kyb-app:latest
    platform: linux/amd64
    ports:
      - 5201:80
    depends_on:
      - ballerine-workflow-service
    restart: on-failure
    environment:
      VITE_API_URL: 'http://localhost:3000/api/v1/'
      VITE_KYB_DEFINITION_ID: 'kyb_parent_kyc_session_example'
  ballerine-workflows-dashboard:
    image: ghcr.io/ballerine-io/workflows-dashboard:latest
    platform: linux/amd64
    ports:
      - 5200:80
    depends_on:
      - ballerine-workflow-service
    restart: on-failure
  ballerine-workflow-service:
    image: ghcr.io/ballerine-io/workflows-service:latest
    platform: linux/amd64
    command:
      - /bin/sh
      - -c
      - |
        npm run db:init
        npm run seed:ex
        dumb-init npm run prod
    ports:
      - 3000:3000
    environment:
      API_KEY: secret
      BCRYPT_SALT: 10
      BACKOFFICE_CORS_ORIGIN: http://localhost:5137
      COMPOSE_PROJECT_NAME: ballerine-x
      DB_URL: postgres://admin:password@ballerine-postgres:5432
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: password
      NODE_ENV: development
      PORT: 3000
      SESSION_EXPIRATION_IN_MINUTES: 60
      SESSION_SECRET: secret
      WORKFLOW_DASHBOARD_CORS_ORIGIN: http://localhost:5200
      KYB_EXAMPLE_CORS_ORIGIN: http://localhost:5201
      IS_DEMO: true
      WEBHOOK_SECRET: webhook_secret
      APP_API_URL: https://alon.ballerine.dev
      EMAIL_API_TOKEN: ''
      EMAIL_API_URL: https://api.sendgrid.com/v3/mail/send
      UNIFIED_API_URL: 'https://unified-api-test.eu.ballerine.app'
      UNIFIED_API_TOKEN: ''
      UNIFIED_API_SHARED_SECRET: ''
    depends_on:
      ballerine-postgres:
        condition: service_healthy
    restart: on-failure
  ballerine-postgres:
    image: sibedge/postgres-plv8-bigint:15.3-3.1.7
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres15:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD
        - pg_isready
        - -U
        - admin
      timeout: 45s
      interval: 10s
      retries: 10
volumes:
  postgres15: ~
