---
type Props = {
  size: number;
};
const { size } = Astro.props as Props;
---

<svg
  width={size}
  height={size}
  viewBox="0 0 29.536709 52.331005"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Logo</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
    fill="url(#paint0_linear_926_2922)"
    id="path95"
    clip-path="url(#clipPath473)"
    style="fill:url(#paint0_linear_926_2922)"
    transform="translate(-0.462891,-0.13574204)"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
    fill="url(#paint1_linear_926_2922)"
    id="path97"
    clip-path="url(#clipPath469)"
    style="fill:url(#paint1_linear_926_2922)"
    transform="translate(-0.462891,-0.13574204)"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
    fill="url(#paint2_linear_926_2922)"
    id="path99"
    clip-path="url(#clipPath465)"
    style="fill:url(#paint2_linear_926_2922)"
    transform="translate(-0.462891,-0.13574204)"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
    fill="url(#paint3_linear_926_2922)"
    style="mix-blend-mode:color;fill:url(#paint3_linear_926_2922)"
    id="path101"
    clip-path="url(#clipPath461)"
    transform="translate(-0.462891,-0.13574204)"></path>
  <defs id="defs129">
    <linearGradient
      id="paint0_linear_926_2922"
      x1="15.2415"
      y1="26.305901"
      x2="5.1407099"
      y2="26.305901"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DADADA" id="stop107"></stop>
      <stop offset="0.598958" stop-color="#C2C2C2" id="stop109"></stop>
      <stop offset="0.599058" stop-color="#DADADA" id="stop111"></stop>
    </linearGradient>
    <linearGradient
      id="paint1_linear_926_2922"
      x1="11.3101"
      y1="20.9228"
      x2="11.2496"
      y2="21.346201"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DADADA" id="stop114"></stop>
      <stop offset="1" stop-color="#DADADA" stop-opacity="0" id="stop116"></stop>
    </linearGradient>
    <linearGradient
      id="paint2_linear_926_2922"
      x1="11.7335"
      y1="30.055901"
      x2="11.673"
      y2="29.7535"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DADADA" id="stop119"></stop>
      <stop offset="1" stop-color="#DEDEDE" stop-opacity="0" id="stop121"></stop>
    </linearGradient>
    <linearGradient
      id="paint3_linear_926_2922"
      x1="15.2313"
      y1="0.13574199"
      x2="15.2313"
      y2="52.466801"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.15625" stop-color="#FF00E5" id="stop124"></stop>
      <stop offset="1" stop-color="#7000FF" id="stop126"></stop>
    </linearGradient>
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath461">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
        fill="#5200ff"
        fill-opacity="0.2"
        id="path463"></path>
    </clipPath>
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath465">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
        fill="#5200ff"
        fill-opacity="0.2"
        id="path467"></path>
    </clipPath>
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath469">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
        fill="#5200ff"
        fill-opacity="0.2"
        id="path471"></path>
    </clipPath>
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath473">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="m 0.604457,21.2253 v -1.754 L 0.783188,17.3265 C 0.985753,14.8957 1.50376,12.5016 2.32415,10.2045 L 2.43348,9.8984 C 4.81082,3.24186 11.5869,-0.782381 18.5694,0.315392 l 0.3145,0.049441 C 25.284,1.37104 29.9996,6.88592 29.9996,13.3647 c 0,5.1951 -2.4083,9.8277 -6.1694,12.8422 -0.2185,0.1752 -0.2532,0.4969 -0.0775,0.715 2.6424,3.2799 3.9484,7.6461 3.1642,12.1984 -1.1185,6.4924 -6.2852,11.5427 -12.8034,12.4999 L 8.42571,52.4555 C 8.01008,52.5165 7.59771,52.3258 7.37507,51.9696 2.87349,44.7671 0.511154,36.4337 0.56326,27.9403 L 0.462891,24.5828 Z M 17.2355,8.79989 17.55,8.84933 c 2.223,0.34949 3.8609,2.26507 3.8609,4.51537 0,4.3413 -3.5193,7.8606 -7.8606,7.8606 H 9.67704 c -0.26723,0 -0.48387,-0.2166 -0.48387,-0.4839 V 19.8285 L 9.34223,18.0398 C 9.48292,16.3515 9.8427,14.6887 10.4125,13.0932 l 0.1093,-0.3061 C 11.511,10.0175 14.3303,8.34314 17.2355,8.79989 Z M 11.8612,29.814 H 9.19317 c -0.00368,0 -0.00662,0.0031 -0.00646,0.0068 0.19992,4.5079 1.23989,8.9293 3.05599,13.0391 0.0872,0.1972 0.2959,0.3108 0.5092,0.2795 l 0.1137,-0.0167 c 2.8359,-0.4165 5.0979,-2.6199 5.5873,-5.4605 0.7072,-4.1055 -2.4574,-7.8482 -6.5917,-7.8482 z"
        fill="#5200ff"
        fill-opacity="0.2"
        id="path475"></path>
    </clipPath>
  </defs>
</svg>
