**.env**
# Logs
logs
*.log

node_modules
.vscode
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
examples/**
!examples/standalone
!examples/standalone-future
!examples/sdk
!examples/**/index.html
!examples/**/README.md
!examples/**/*.svg
vite.config.ts.timestamp-*.mjs
